.comments {
    justify-content: flex-start;
    align-self: flex-start;
    width: 100%;
}

.comment {
    margin-top: 1rem;
}

.comment--profile {
    display: flex;
}

.comment--profile img {
    width: 32px;
    border-radius: 16px;
    margin-left: 2rem;
}

.comment .rating img{
    height: 16px;
    margin-left: 0;
}

.comment .rating {
    width: 100px;
    display: flex;
}

.comments--text {
    margin-left: 4rem;
}