.shop {
    flex-wrap: wrap;
    flex-basis: 300px;
}

.product {
    box-sizing: border-box;
    color: hsla(0, 0%, 0%, 0.7);
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.5rem;
    background-color: white;
    border: 1px solid rgba(219, 216, 216, 1);
}

.product>img {
    width: 270px;
    border: 1px solid rgb(167, 162, 162);
}

.product:hover {
    scale: 1.01;
    border: 1px solid hsla(11, 91%, 57%, 1);
}

.price,
.rating {
    color: hsla(11, 91%, 57%, 1);
}

.star {
    width: 1rem;
}