:root {
    --icon-size: 40px;
    --image-container: 360px;
    --big-image: 300px;
    --small-image: 140px;
    font-family: 'Barlow', sans-serif;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    background-color: hsla(0, 12%, 85%, 0.1);
}

.App {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

header { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    background: linear-gradient(hsla(11, 91%, 57%, 1), hsla(11, 91%, 57%, 0.8));
    border-bottom: solid 2px hsla(11, 91%, 57%, 1);
    color: white;
    margin-bottom: 2rem;
}

.header--logo {
    display: flex;
    align-items: center;
    margin-right: auto;
    text-decoration: none;
    color: hsla(11, 91%, 57%, 1);
    background-color: white;
    padding: 0.3rem;
    border-radius: 0.5rem;
    margin-left: 1rem;
}

.header--logo img {
    height: 2rem;
    width: 2rem;
    border-radius: 1rem;
    border: solid 1px hsla(11, 91%, 57%, 1);
}

.cart--counter {
    background-color: white;
    color: hsla(11, 91%, 57%, 1);
    margin-top: auto;
    width: 1rem;
    height: fit-content;
    border-radius: 0.5rem;
    text-align: center;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    width: fit-content;
    height: fit-content;
    margin: 0.3rem;
}

nav ul a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
}

nav .active {
    background-color: white;
    color:hsla(11, 91%, 57%, 1);
    border: 1px solid hsla(11, 91%, 57%, 1);
    border-radius: 5px;
    box-shadow: -3px -3px 3px white;
}

nav .active svg {
    fill: hsla(11, 91%, 57%, 1);
}

.footer {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsla(0, 0%, 0%, 0.6);
    background-color: hsla(0, 4%, 75%, 0.1);
    border-top: solid 1px hsla(0, 0%, 0%, 0.1);
}

.footer img {
    width: var(--icon-size);
    height: var(--icon-size);
    margin: 0.5rem;
}

/* Should have used styled component but
    I wanted to focus on one thing for this project
    which is testing
*/

/* Home styles */

main {
    display: flex;
    margin-bottom: 2rem;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.home {
    flex-wrap: wrap;
}

.home img {
    border-radius: 1rem;
}

.home > * {
    width: var(--image-container);
    overflow: hidden;
}

.home--first {
    position: relative;
    display: flex;
    justify-content: center;
}

#home--fashion {
    width: var(--big-image);
}

.home--shop--link {
    position: absolute;
    align-items: center;
    padding: 0.3rem;
    text-decoration: none;
    color: white;
    border-radius: 0.3rem;
    border: 1px solid white;
    background-color: hsla(39, 100%, 50%, 0.6);
    right: 3rem;
    bottom: 0.5rem;
}

.home--shop--link:hover {
    background-color: hsla(39, 100%, 50%, 1);
}

.home--second {
    display: grid;
    grid-template-columns: var(--small-image) var(--small-image);
    flex-wrap: wrap;
    flex-basis: var(--big-image);
}

#home--flash {
    width: var(--big-image);
    grid-column: 1 / 3;
}

#home--summer, #home--voucher {
    width: var(--small-image);
}

@media only screen and (min-width: 461px) {
    :root {
        --image-container: 460px;
        --big-image: 400px;
        --small-image: 190px;
    }
    #header--home::after {
        content: "Home"
    }
    #header--shop::after {
        content: "Shop"
    }
    #header--cart::after {
        content: "Cart"
    }
    #header--account::after {
        content: "Account"
    }
}

@media only screen and (min-width: 1060px) {
    :root {
        --icon-size: 1.5rem;
        --image-container: 560px;
        --big-image: 500px;
        --small-image: 240px;
    }
}

