:root {
    --icon-size: 2rem;
    font-family: 'Barlow', sans-serif;
}

body {
    margin: 0;
}

header { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    background: linear-gradient(hsla(11, 91%, 57%, 1), hsla(11, 91%, 57%, 0.8));
    border-bottom: solid 2px hsla(11, 91%, 57%, 1);
    color: white;
}

.header--logo {
    display: flex;
    align-items: center;
    margin-right: auto;
    text-decoration: none;
    color: hsla(11, 91%, 57%, 1);
    background-color: white;
    padding: 0.3rem;
    border-radius: 0.5rem;
    margin-left: 1rem;
}

.header--logo img {
    height: 2rem;
    width: 2rem;
    border-radius: 1rem;
    border: solid 1px hsla(11, 91%, 57%, 1);
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    width: fit-content;
    height: fit-content;
    margin: 0.3rem;
    /* border: solid 1px black; */
}

nav ul a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
}

nav .active {
    background-color: white;
    color:hsla(11, 91%, 57%, 1);
    border: 1px solid hsla(11, 91%, 57%, 1);
    border-radius: 5px;
    box-shadow: -3px -3px 3px white;
}

nav .active svg {
    fill: hsla(11, 91%, 57%, 1);
}

.footer {
    width: 100vw;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsla(0, 0%, 0%, 0.6);
    justify-self: flex-end;
    border-top: solid 1px hsla(0, 0%, 0%, 0.1);
}

.footer img {
    width: var(--icon-size);
    height: var(--icon-size);
    margin: 0.5rem;
}

/* Should have used styled component but
    I wanted to focus on one thing for this project
    which is testing
*/

/* Home styles */

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.home > * {
    width: 80vw;
    overflow: hidden;
}

.home--shop--link {
    position: absolute;
    width: 30%;
    transform: translate(80%, -100%);
    border-radius: 5px;
    background-color: hsla(202, 67%, 61%, 0.8);
    color: white;
    text-decoration: none;
    border: 1px solid white;
    text-align: center;
}

.home--shop--link:hover {
    background-color: hsla(202, 67%, 61%, 1);
}

#home--flash {
    width: 80vw;
}

#home--summer, #home--voucher {
    width: 40vw;
}

@media only screen and (min-width: 401px) {
    #header--home::after {
        content: "Home"
    }
    #header--shop::after {
        content: "Shop"
    }
    #header--cart::after {
        content: "Cart"
    }
    #header--account::after {
        content: "Account"
    }
}

/* @media only screen and (min-width: 401px) and (max-width: 960px) {
    :root {
        --icon-size: 1.5rem;
    }
} */

