:root {
    font-family: 'Barlow', sans-serif;
}

body {
    margin: 0;
}

header { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    background: linear-gradient(hsla(11, 91%, 57%, 1), hsla(11, 91%, 57%, 0.8));
    border-bottom: solid 2px #F8A98F;
    color: white;
}

.header--logo img {
    height: 2rem;
    width: 2rem;
    border-radius: 1rem 1rem 0 0;
    border: solid 1px #F8A98F;
}

.header--title {
    margin: 0.3rem;
    margin-right: auto;
}

header ul {
    display: flex;
}

ul li {
    list-style: none;
    width: 2rem;
    height: 2rem;
    margin: 0.3rem;
    overflow: hidden;
    /* border: solid 1px black; */
}